
/** {*/
/*    box-sizing: border-box;*/
/*    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;*/
/*    font-size: 16px;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*header {*/
/*    overflow: hidden;*/
/*}*/

#navbar {

    text-align: center;
    margin-bottom: 1px;
    /*height: 100px;*/
}

#logo{
    float: left;
    height: 30px;
    width: 20%;
    font-family: Arial, serif;
}

#logo img {
    width: 30%;
    height: 53px;
    float: left;
}



#menu{
    float: right;
    width: 60%;
    height: 30px;
    font-family: Arial, serif;
}

#menu ul{
    text-align: center;
    float: right;
    background: #4a535b;
}

#menu li{
    display: inline-block;

}

#menu li a, #menu li span{
    display: inline-block;
    padding: 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    /*line-height: 30px;*/
}

#menu li a{
    color: #fff;
}

#menu li:hover a, #menu li span{
    background: #fff;
    /*color: #0074d9;*/
    color: #4a535b;
    border-left: 1px solid #4a535b;
    text-decoration: none;
}

